<!DOCTYPE html>
<html>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<head lang="en">
    <meta charset="UTF-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/page2.css') }}">
    <title>My First Dashboard</title>
</head>
<body>
<!--Polly the best!-->
<div id="e3_1">
  <div id="ei3_13_1_310"></div>
  <div id="ei3_13_1_312"></div>
  <div id="ei3_13_1_313"></div>
  <div id="ei3_13_1_315"></div><span id="ei3_13_1_316">Dhaka Oke, Product Designer</span><span id="ei3_13_1_317">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span><span id="ei3_13_1_318">Your Best Value Proposition</span><span id="ei3_13_1_319">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
</div>
</body>
</html>