<!DOCTYPE html>
<html>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<head lang="en">
    <meta charset="UTF-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    <title>My First Dashboard</title>
</head>
<body>
<!--Polly the best!-->
<div id="e1_97">
  <div id="ei1_97_1_256"></div>
  <div id="ei1_97_1_259"></div><span id="ei1_97_1_260">Read More</span><span id="ei1_97_1_261">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore...</span><span id="ei1_97_1_262">Keys to writing copy that actually converts and sells users</span>
  <div id="ei1_97_1_265"></div><span id="ei1_97_1_266">Read More</span><span id="ei1_97_1_267">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore...</span><span id="ei1_97_1_268">Keys to writing copy that actually converts and sells users</span>
  <div id="ei1_97_1_270"></div><span id="ei1_97_1_271">Coffe2Vec </span>
  <div id="ei1_97_1_272"></div><span id="ei1_97_1_273">Polina & Sam</span><span id="ei1_97_1_274">Read More</span>
</div>
<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="col-md-6">-->
<!--            <div class="chart" id="bargraph">-->
<!--                <script>-->
<!--                    var graphs = {{plot | safe}};-->
<!--                    Plotly.plot('bargraph',graphs,{});-->
<!--                </script>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
</body>
</html>