<!DOCTYPE html>
<html>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<head lang="en">
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main_customer_page.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <title>Coffee2Vec</title>
</head>
<body>
<!--Polly the best!-->
<div id="customer_main">
    <a href="https://www.pauligprofessional.com/en/paulig-take-away-cup-200-ml-2500-pcs-2802661" style="position: absolute; width: 200px;
height: 60px;
left: 1149px;
top: 657px; opacity: 0">Buy</a>
</div>
</body>
</html>