#e1_97 {
	position:relative;
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1440px;
	height:1024px;
}
#ei1_97_1_256 {
	background-color:rgba(242.00000077486038, 242.00000077486038, 242.00000077486038, 1);
	opacity:1;
	width:1440px;
	height:1024px;
	position:absolute;
	left:0px;
	top:0px;
}
#ei1_97_1_257 {
	opacity:1;
	width:570px;
	height:345.30230712890625px;
	position:absolute;
	left:135px;
	top:583.44189453125px;
}
#ei1_97_1_258 {
	opacity:1;
	width:570px;
	height:345.30230712890625px;
	position:absolute;
	left:135px;
	top:583.44189453125px;
}
#ei1_97_1_259 {
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:570px;
	height:345.30230712890625px;
	position:absolute;
	left:135px;
	top:583.44189453125px;
}
#ei1_97_1_260 {
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:68px;
	height:20px;
	position:absolute;
	left:183px;
	top:845.3953247070312px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
#ei1_97_1_261 {
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:474px;
	height:85.730224609375px;
	position:absolute;
	left:183px;
	top:740.6139526367188px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
#ei1_97_1_262 {
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:474px;
	height:68px;
	position:absolute;
	left:183px;
	top:640.5953369140625px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
#ei1_97_1_263 {
	opacity:1;
	width:570px;
	height:345.30230712890625px;
	position:absolute;
	left:735px;
	top:583.44189453125px;
}
#ei1_97_1_264 {
	opacity:1;
	width:570px;
	height:345.30230712890625px;
	position:absolute;
	left:735px;
	top:583.44189453125px;
}
#ei1_97_1_265 {
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:570px;
	height:345.30230712890625px;
	position:absolute;
	left:735px;
	top:583.44189453125px;
}
#ei1_97_1_266 {
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:68px;
	height:20px;
	position:absolute;
	left:783px;
	top:845.3953247070312px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
#ei1_97_1_267 {
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:474px;
	height:85.730224609375px;
	position:absolute;
	left:783px;
	top:740.6139526367188px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
#ei1_97_1_268 {
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:474px;
	height:68px;
	position:absolute;
	left:783px;
	top:640.5953369140625px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
#ei1_97_1_269 {
	opacity:1;
	width:1170px;
	height:440.55816650390625px;
	position:absolute;
	left:135px;
	top:95.25581359863281px;
}
#ei1_97_1_270 {
	background-color:rgba(0, 0, 0, 1);
	opacity:1;
	width:1170px;
	height:440.55816650390625px;
	position:absolute;
	left:135px;
	top:95.25581359863281px;
}
#ei1_97_1_271 {
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:492px;
	height:148.83721923828125px;
	position:absolute;
	left:613px;
	top:202.41860961914062px;
	font-family:Roboto;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
	line-height:undefined;
}
#ei1_97_1_272 {
	background-color:rgba(34.00000177323818, 34.00000177323818, 34.00000177323818, 1);
	opacity:1;
	width:400px;
	height:440.55816650390625px;
	position:absolute;
	left:135px;
	top:95.25581359863281px;
}
#ei1_97_1_273 {
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:81px;
	height:23.81396484375px;
	position:absolute;
	left:613px;
	top:159.55348205566406px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
#ei1_97_1_274 {
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:87px;
	height:26px;
	position:absolute;
	left:613px;
	top:446.51161193847656px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
