#e3_1 {
	position:relative;
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1440px;
	height:1024px;
}
#e3_13 {
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1440px;
	height:1024px;
	position:absolute;
	left:0px;
	top:0px;
}
#ei3_13_1_310 {
	background-color:rgba(242.00000077486038, 242.00000077486038, 242.00000077486038, 1);
	opacity:1;
	width:1440px;
	height:1024px;
	position:absolute;
	left:0px;
	top:0px;
}
#ei3_13_1_311 {
	opacity:1;
	width:491px;
	height:286px;
	position:absolute;
	left:769px;
	top:157px;
}
#ei3_13_1_312 {
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:400px;
	height:232.67796325683594px;
	position:absolute;
	left:860px;
	top:157px;
}
#ei3_13_1_313 {
	background-color:rgba(0, 0, 0, 1);
	opacity:1;
	width:400px;
	height:232.67796325683594px;
	position:absolute;
	left:769px;
	top:210.322021484375px;
}
#ei3_13_1_314 {
	opacity:1;
	width:470px;
	height:258px;
	position:absolute;
	left:235px;
	top:171px;
}
#ei3_13_1_315 {
	border-radius:500px;
	background-color:rgba(0, 0, 0, 1);
	opacity:1;
	width:24px;
	height:24px;
	position:absolute;
	left:235px;
	top:405px;
}
#ei3_13_1_316 {
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:181px;
	height:20px;
	position:absolute;
	left:267px;
	top:407px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
#ei3_13_1_317 {
	color:rgba(0, 0, 0, 0.5);
	opacity:1;
	width:470px;
	height:40px;
	position:absolute;
	left:235px;
	top:357px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
#ei3_13_1_318 {
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:422px;
	height:38px;
	position:absolute;
	left:235px;
	top:171px;
	font-family:Roboto;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
	line-height:undefined;
}
#ei3_13_1_319 {
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:470px;
	height:76px;
	position:absolute;
	left:235px;
	top:233px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
